<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            123123
        </div>
        <div class="col-md-12">
            <form>
                <div class="row d-flex">
                    <div class="col-md-1 d-flex justify-content-center align-middle">
                        <div class="rounded-circle bg-danger" style="width: 50px;height: 50px"></div>
                    </div>
                    <div class="col-md-11">
                        <div>
                            NAME
                        </div>
                        <div>
                            Bạn đã được chọn riêng để tham dự Khảo Sát Người Truy Cập 2021! Xin cho chúng tôi biết bạn nghĩ gì về Microsoft Edge và để "Cám ơn", bạn sẽ cơ hội thắng được một Apple iPhone 11 Pro!
                        </div>

                    </div>
                </div>



            </form>
        </div>
    </div>
</div>
</body>
</html>
